---
import { actions } from 'astro:actions';

import PlaceCard from '../components/PlaceCard.astro';
import MainLayout from '../layouts/MainLayout.astro';

const { data: places = [], error } = await actions.getPlaces();
---

<MainLayout title='Astro Reviews'>
  <h1 class='text-3xl font-extrabold'>Lugares</h1>

  <div class='grid grid-cols-3 gap-4 mt-6'>
    {places.map((place) => <PlaceCard place={place} />)}
  </div>
</MainLayout>
